<h3>Find other Users</h3>

<input
  type="text"
  [(ngModel)]="searchQuery"
  (input)="searchProfiles()"
  placeholder="Search by username"
/>

<button type="button" (click)="clearSearch()">Clear</button>

@if (searchError()) {
  <p>{{ searchError() }}</p>
}

@if (searchResults().length > 0) {
  <div class="search-results">
    @for (user of searchResults(); track user.username) {
      <div class="search-result-item">
        <button type="button" (click)="openProfile(user.username)">{{user.username}}</button>
      </div>
    }
  </div>
}

<hr>

<h2>Profile</h2>
<p><img src = "{{profile()?.avatar}}" alt = "ava"></p>

<p><b>Username:</b> {{ profile()?.username }} </p>
<p><b>Bio:</b> {{ profile().bio }} </p>

<button (click)="load()">Refresh</button>
<button (click)="logout()">Logout</button>
<button class="update" (click)='settings()'>Settings</button>

@if (setting()) {
  <div>
    <p>Username:</p>
    <input [(ngModel)]="username" type="text">

    <p>Bio:</p>
    <textarea [(ngModel)]="bio"></textarea>

    <p>PFP:</p>
    <input [(ngModel)]="pfp" type="text">

    <div>
      <button type="button" (click)="is_public = true">Visible</button>
      <button type="button" (click)="is_public = false">Invisible</button>
    </div>

    <button type="button" (click)="updateProfile()">Apply</button>
  </div>
}

<h3>My Library</h3>

@if (library().length > 0) {
  @for (item of library(); track item.id) {
    <div>
      <p><b>{{item.game.title}}</b> - {{item.status}}</p>
    </div>
  }
} @else {
  <p>No games in library yet.</p>
}


<h3>My Reviews</h3>

@if (reviews().length > 0) {
  @for (review of reviews(); track review.id) {
    <div>
      <p><b>{{review.game_title}}</b></p>
      <p>Rating: {{review.rating}}</p>
      <p>{{review.text}}</p>
      <hr>
    </div>
  }
} @else {
  <p>No reviews yet.</p>
}
