
<div class = "game-detail-card">
  @if(loading()){
    <p style = "color: white; font-size:3vh; font-family: 'Sans Serif Collection'">Loading...</p>
  }
  @else{
    <div class = 'image_container'><img src = '{{game_details().image}}'></div>
    <aside class = 'detail_container'>
      <p class = "title">{{game_details().name}} </p>
      <p>{{game_details().description}}</p>
      <p> Release date: {{game_details().released}}</p>
      <p> Rating: {{game_details().rating}}</p>
      <p> Genres: {{game_details().genres}}</p>
      <button class = "add_library" (click) = 'toggleChoose()'>Add to library</button>
      @if(choose()){
        <div class = 'selector_container'>
          <button (click)="toggleChoose()" class = 'x'><img [src] = "xurl" ></button>
          <select [(ngModel)]="status" (change) = "addToLib()" class = 'selector'>
            <option value="" disabled selected hidden>Select an option</option>
            <option value="want" >Want</option>
            <option value="playing">Playing</option>
            <option vlaue = "played">Played</option>
          </select>
        </div>
      }
    </aside>
  }
</div>





