.game_image {
  position: relative;
  width: 40%;
}

.library_card{
  position: relative;
  display: flex;
  background-color: #9eb1e8;
  margin: 5px;
  width: 30%;
}

.games {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 20vh;
}
